    <div id="tooplate_menu">
        <ul>
            <li><%= link_to "Accueil", root_path %> </li>
            <li><%= link_to "A propos", propos_index_path %></li>
            <li><%= link_to "L'App", app_tuto_path %></li>
            <li><%= link_to "Gallery", gallery_index_path %></li>
            <li><%= link_to "Contact", contact_index_path %></li>
        </ul>    	
    </div> <!-- end of tooplate_menu -->